.projectGrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.projectCard {
    max-width: 500px;
    width: 100%;
    margin: 20px;
    @include themed {
        color: t(linkColor);
        border-color: t(linkColor);
    }
}
